# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*  List popular labguages for Data Science
*  List popular libraries used in Data Science
*  Evaluate arithmetic expressions
*  List popular Data Science Tools

Some of the popular languages that Data Scientists use are:
* Python
* R
* Java

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* Matplotlib

|Data Science Tools|
------------------
|Jupyter Notebooks|
|RStudio|
|Gitlab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nitish Chawla